/* Definindo nosso estilo */
@charset "utf8";

.fundofixo{
    background: url("../images/churrascaria.jpg") no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

.fundovermelho{
    background-color: rgb(255, 0, 0);
}


.texto{
    font-size: 15px;
    color: black;
}

.preco{
    font-size: 25px;
}

.tamanho_img{
    width: 350px;
}